<!-- /tools/show -->

<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Tool</h2>

    <% if flash[:message] %>
      <div class="flash-message-wrapper">
        <%= flash[:message] %>
      </div>
    <% end %>

    <p><b>Name:</b> <%= @tool.name %></p>
    <p><b>Description:</b> <%= @tool.description %></p>
    <p><b>Website: </b><a href="<%= @tool.url_link %>"  target="_blank"><%= @tool.url_link %></a></p>
    <p><b>Rating:</b> <%= @tool.rating %></p>
    <p><b>Folder:</b> <%= @tool.folder.name %></p>

  </div> <!-- .col-md-8 col-md-offset-2 -->

  <!-- Form to Edit / Delete Tool -->
  <% if @tool.folder.user == current_user %>
    <a href="/tools/<%= @tool.id %>/<%= @tool.slug %>/edit">Edit</a>

    <br><br/>

    <form action="/tools/<%= @tool.id %>/<%= @tool.slug %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" id="delete" value="Delete">
    </form>
  <% end %>

</div> <!-- .container -->
