<!-- /folders/index -->

<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Folders</h2>

    <% if flash[:message] %>
      <div class="flash-message-wrapper">
        <%= flash[:message] %>
      </div>
    <% end %>

    <table>
      <tr>
        <th> Name </th>
        <th> Description </th>
        <th> Category </th>
        <th> Owner </th>
        <th> Private </th>
        <th> Tools </th>
      </tr>

      <% @folders.each do |folder| %>
        <tr>
          <td><a href="/folders/<%= folder.id %>/<%= folder.slug %>"><%= folder.name %></a></td>
          <td><%= folder.description %></td>
          <% if folder.category_id %>
            <td><%= folder.category.name %></td>
          <% else %>
            <td> undefined </td>
          <% end %>
          <td><%= folder.user.name %></td>
          <td><input type="checkbox" <% if folder.privacy %> checked <% end %>></td>
          <td><a href="/users/<%= folder.user.slug %>/<%= folder.slug %>"><%= folder.tools.count %></td>
        </tr>
      <% end %>
    <table>

  </div> <!-- .col-md-8 col-md-offset-2 -->
</div> <!-- .container -->
