<!-- /folders/index -->

<div class="container">

  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to My_FavTools</h2>

    <% if flash[:message] %>
      <div class="flash-message-wrapper">
        <%= flash[:message] %>
      </div>
    <% end %>

    <table>
      <tr>
        <th> Name </th>
        <th> Description </th>
        <th> Category </th>
        <th> Owner </th>
        <th> Private </th>
        <th> Tools </th>
      </tr>

      <% @folders.each do |folder| %>
        <tr>
          <td><a href="/folders/<%= folder.id %>/<%= folder.slug %>"><%= folder.name %></a></td>
          <td><%= folder.description %></td>
          <td><%= folder.category.name %></td>
          <td><%= folder.user.name %></td>
          <!-- <td><input id="privacy" type="checkbox" name="folder[privacy]" value=true></td> -->

          <td><% if folder.privacy %>
                Yes
              <% else %>
                No
              <% end %>
          </td>
          <td><%= folder.tools.count %></td>
        </tr>
      <% end %>
    <table>

  </div> <!-- .col-md-8 col-md-offset-2 -->
</div> <!-- .container -->
