<!-- /folder/show -->

<div class="container">

  <% if flash[:message] %>
    <div class="flash-message-wrapper">
      <%= flash[:message] %>
    </div>
  <% end %>

  <div class="col-md-8 col-md-offset-2">
    <h2>Folder</h2>
    <p><b>Name:</b> <%= @folder.name %></p>
    <p><b>Description:</b> <%= @folder.description %></p>
    <p><b>Category:</b> <%= @folder.category.name %></p>
    <p><b>owner:</b> <%= @folder.user.name %></p>

    <p><b>Private Folder:</b>
    <input type="checkbox" <% if @folder.privacy %> checked <% end %>></p>

    <p><b>Items:</b> <%= @folder.items.count %></p>

  </div> <!-- .col-md-8 col-md-offset-2 -->

  <!-- Form to Edit / Delete Folder -->
  <% if @folder.user == current_user %>
    <a href="/folders/<%= @folder.id %>/<%= @folder.slug %>/edit">Edit</a>

    <br><br/>

    <form action="/folders/<%= @folder.id %>/<%= @folder.slug %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" id="delete" value="Delete Folder">
    </form>
  <% end %>

</div> <!-- .container -->
