<!-- /users/index -->

<div class="container">

  <%= erb :'/partials/_flash_message' %>

  <div class="col-md-8 col-md-offset-2">
    <h3>Users</h3>
    <table class="table table-striped">
      <tr>
        <th> Username </th>
        <th> Email </th>
        <th> View Folders </th>
        <th> View Items </th>
      </tr>

      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><a href="/users/<%= user.slug %>/folders"><%= user.folders.where(privacy: false).count %></a></td>
          <td><a href="/users/<%= user.slug %>/items"><%= user.items.where(folders: {privacy: false}).count %></a></td>
        </tr>
      <% end %>
    <table>

  </div> <!-- .col-md-8 col-md-offset-2 -->
</div> <!-- .container -->
