<!-- /items/copy -->

<div class="container">

  <%= erb :'/partials/_flash_message' %>

  <div class="col-md-8 col-md-offset-2">
    <h3>Copy Item</h3>
    <form action="/items" method="post">

      <label for="name">Name</label>
      <input id="name" type="text" name="item[name]" value="<%= @item.name %>" required/><br><br/>

      <label for="description">Description</label>
      <textarea id="description" name="item[description]" rows="2" cols="100"><%= @item.description %></textarea><br><br/>

      <label for="url_link">Website</label>
      <input id="url_link" type="text" name="item[url_link]" value="<%= @item.url_link %>"/><br><br/>

      <label for="rating">Your Rating</label>
      <input id="rating" type="number" name="item[rating]" value="<%= @item.rating %>" min="0" max="5"><br><br/>

      <fieldset>
        <label for="folder_id">Select a Folder</label>
        <select id="folder_id" name="item[folder_id]" type="text">
          <% @folders.each() do |folder| %>
            <option value="<%= folder.id() %>"> <%= folder.name() %> </option>
          <% end %>
        </select><br><br/>

        <label for="new_folder">or Create New Folder</label>
        <input id="new_folder" type="text" name="folder[name]"></input>
      </fieldset>

      <br><br/>

      <input type="submit" value="New Item">

    </form> <!-- /copy item route -->
  </div> <!-- .col-md-8 col-md-offset-2 -->
</div> <!-- .container -->
