<!-- /items/index -->

<div class="container">
  <%= erb :'/partials/_flash_message' %>
  <div class="col-md-8 col-md-offset-2">
    <!-- url path_info: -->
    <!-- /users/<username>/<folder name>/items -->
    <!-- /users/<username>/items -->
    <!-- /items -->
    <% if path_info.match(/\A\/users\//) %>
      <% p_user_folder = path_info.split("/") %>
      <% if path_info.split("/").count == 5 %>
        <% if current_user.slug == path_info.split("/")[-3] %>
          <h3>Your items from folder <%= path_info.split("/")[-2] %></h3>
        <% else %>
          <h3>Items shared by <%= path_info.split("/")[-3] %> from folder <%= path_info.split("/")[-2] %></h3>
        <% end %>
      <% else %>
        <% if current_user.slug == path_info.split("/")[-2] %>
          <h3>Your items</h3>
        <% else %>
          <h3>Items shared by <%= path_info.split("/")[-2] %></h3>
        <% end %>
      <% end %>
    <% else %>
      <h3>All Items</h3>
    <% end %>

    <table class="table table-striped">
      <tr>
        <th> Name </th>
        <th> Description </th>
        <th> Website </th>
      </tr>

      <% @items.each do |item| %>
        <tr>
          <td><a href="/items/<%= item.id %>/<%= item.slug %>"><%= item.name %></a></td>
          <td><%= item.description %></td>
          <td><a href="<%= item.url_link %>" target="_blank">View</a></td>
        </tr>
      <% end %>
    <table>

  </div> <!-- .col-md-8 col-md-offset-2 -->
</div> <!-- .container -->
