<!-- /items/show -->

<div class="container">

  <%= erb :'/partials/_flash_message' %>

  <div class="col-md-8 col-md-offset-2">
    <h3>Item</h3>
    <p><b>Name:</b> <%= @item.name %></p>
    <p><b>Description:</b> <%= @item.description %></p>
    <p><b>Website: </b> <a href="<%= @item.url_link %>"  target="_blank"><%= @item.url_link %></a></p>
    <p><b>Rating:</b> <%= @item.rating %></p>
    <p><b>Folder:</b> <a href="/users/<%= @item.folder.user.slug %>/<%= @item.folder.slug %>/items"><%= @item.folder.name %></a></p>
    <p><b>User:</b> <%= @item.folder.user.name %></p>

  </div> <!-- .col-md-8 col-md-offset-2 -->

  <!-- Form to Edit / Delete Item -->
  <% if @item.folder.user == current_user %>
    <a href="/items/<%= @item.id %>/<%= @item.slug %>/edit" class="btn btn-info" role="button">Edit</a>

    <br><br/>

    <form action="/items/<%= @item.id %>/<%= @item.slug %>" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" id="delete" value="Delete">
    </form>
  <% else %>
    <!-- Link to Copy this Item by creating a new Item base on this version -->
    <a href="/items/new/<%= @item.id %>" class="btn btn-info" role="button">Copy Item</a>
  <% end %>

</div> <!-- .container -->
